<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<bean id="logAudit" class="com.weili.wechat.vo.LogAudit" />
	<bean id="audit" class="com.weili.wechat.vo.Audit" />

	<bean id="logAspectTarget" class="com.weili.wechat.common.LogAspect">
		<property name="logAudit" ref="logAudit" />
		<property name="logAuditService" ref="logAuditService" />
		<property name="userService" ref="userService" />
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<aop:config>
		<aop:advisor
			pointcut="execution(* com.weili.wechat.service.*.*.*(..))"
			advice-ref="txAdvice" />
		<aop:aspect id="logAspect" ref="logAspectTarget">
			<aop:pointcut id="businessService"
				expression="execution(* com.weili.wechat.service.*.*.add*(..)) ||
							execution(* com.weili.wechat.service.*.*.audit*(..)) ||
							execution(* com.weili.wechat.service.*.*.del*(..)) ||
				 			execution(* com.weili.wechat.service.*.*.log*(..)) ||
				 			execution(* com.weili.wechat.service.*.*.mod*(..)) ||
				 			execution(* com.weili.wechat.service.*.*.refuse*(..)) ||
				 			execution(* com.weili.wechat.service.*.*.reset*(..)) ||
				 			execution(* com.weili.wechat.service.*.*.update*(..)) ||
				 			execution(* com.weili.wechat.service.*.*.save*(..)) ||
				 			execution(* com.weili.wechat.service.*.*.register*(..))
			" />

		<aop:after-returning method="afterReturning"
			pointcut-ref="businessService" returning="retVal" arg-names="JoinPoint,retVal" />
		</aop:aspect>
	</aop:config>

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="add*" />
			<tx:method name="audit*" />
			<tx:method name="del*" />
			<tx:method name="log*" />
			<tx:method name="mod*" />
			<tx:method name="refuse*" />
			<tx:method name="reset*" />
			<tx:method name="set*" />
			<tx:method name="update*" />
			<tx:method name="save*" />
			<tx:method name="send*" />
			<tx:method name="service" />
			<tx:method name="register" />
		</tx:attributes>
	</tx:advice>

	<!-- 业务逻辑bean -->
	<bean id="loginService"
		class="com.weili.wechat.service.login.impl.LoginServiceImpl">
		<property name="userDAO" ref="userDAO" />
		<property name="menuDAO" ref="menuDAO" />
		<property name="buttonDAO" ref="buttonDAO" />
		<property name="commonData" ref="commonData" />
	</bean>
	<bean id="sysParamService"
		class="com.weili.wechat.service.system.impl.SysParamServiceImpl">
		<property name="commonData" ref="commonData" />
	</bean>
	<bean id="sysRoleService"
		class="com.weili.wechat.service.system.impl.SysRoleServiceImpl">
		<property name="commonData" ref="commonData" />
	</bean>
	
	<bean id="auditService"
		class="com.weili.wechat.service.system.impl.AuditServiceImpl">
		<property name="userDAO" ref="userDAO" />
		<property name="operateDAO" ref="operateDAO" />
		<property name="moduleDAO" ref="moduleDAO" />
		<property name="auditDAO" ref="auditDAO" />
		<property name="nameDAO" ref="nameDAO" />
		<property name="roleService" ref="roleService" />
		<property name="userService" ref="userService" />
	</bean>
	
	<bean id="roleService"
		class="com.weili.wechat.service.system.impl.RoleServiceImpl">
		<property name="roleDAO" ref="roleDAO" />
		<property name="menuDAO" ref="menuDAO" />
		<property name="buttonDAO" ref="buttonDAO" />
	</bean>
	<bean id="userService"
		class="com.weili.wechat.service.system.impl.UserServiceImpl">
		<property name="userDAO" ref="userDAO" />
		<property name="roleDAO" ref="roleDAO" />
		<property name="commonData" ref="commonData" />
	</bean>
	<bean id="logAuditService"
		class="com.weili.wechat.service.system.impl.LogAuditServiceImpl">
		<property name="userDAO" ref="userDAO" />
		<property name="operateDAO" ref="operateDAO" />
		<property name="moduleDAO" ref="moduleDAO" />
		<property name="logAuditDAO" ref="logAuditDAO" />
		<property name="nameDAO" ref="nameDAO" />
	</bean>
	<bean id="getResource" class="com.weili.wechat.common.GetResource">
	</bean>

	<bean id="basicQryService"
		class="com.weili.wechat.service.BasicQryServiceImpl">
		<property name="commonData">
			<ref bean="commonData" />
		</property>
	</bean>
	
	<bean id="sysAreaService" class="com.weili.wechat.service.system.impl.SysAreaServiceImpl">
		<property name="commonData">
			<ref bean="commonData" />
		</property>
	</bean>
	
	<bean id="imageTextService" class="com.weili.wechat.service.manage.impl.ImageTextServiceImpl">
		<property name="commonData">
			<ref bean="commonData" />
		</property>
	</bean>
	
	<bean id="accountService"
		class="com.weili.wechat.service.manage.impl.AccountServiceImpl">
		<property name="commonData">
			<ref bean="commonData" />
		</property>
		<property name="accountDAO">
			<ref bean="accountDAO" />
		</property>
	</bean>
	
	<bean id="menuFunctionService"
		class="com.weili.wechat.service.manage.impl.MenuFunctionServiceImpl">
		<property name="commonData">
			<ref bean="commonData" />
		</property>
	</bean>

	<bean id="weMenuService"
		class="com.weili.wechat.service.manage.impl.WeMenuServiceImpl">
		<property name="commonData">
			<ref bean="commonData" />
		</property>
	</bean>	
	
	<bean id="jarUpService"
		class="com.weili.wechat.service.manage.impl.JarUpServiceImpl">
		<property name="commonData">
			<ref bean="commonData" />
		</property>
		<property name="jarDAO">
			<ref bean="jarDAO" />
		</property>
	</bean>
	<bean id="mediaService"
		class="com.weili.wechat.service.manage.impl.MediaServiceImpl">
		<property name="commonData">
			<ref bean="commonData" />
		</property>
	</bean>	
	
	<bean id="messageService"
		class="com.weili.wechat.service.manage.impl.MessageServiceImpl">
		<property name="commonData">
			<ref bean="commonData" />
		</property>
	</bean>	
	
	<bean id="registerService"
		class="com.weili.wechat.service.system.impl.RegisterServiceImpl">
		<property name="commonData">
			<ref bean="commonData" />
		</property>
	</bean>	
	
	<!-- 业务功能 -->
	
		
	
</beans>